@import '/src/styles/variables.scss';
@import './src/styles/mixins.scss';

.Hobbies {

  &__about {
    max-width: 600px;
  }
}

.home {
  margin: 0 5%;
  
  &__block {
    border-color: $btn-color;
  }

  &__hobbies {
    @include flex;
    margin: 0 5%;
    border: 1px solid $deep-jungle-green;

    &__sidebar {
      width: 30%;

    }

    &__outlet {
      min-width: 70%;
      min-height: 500px;
    }
  }
}