@import '/src/styles/variables.scss';
@import './src/styles/mixins.scss';

.home {
  margin: 0 5%;
  @include flex($d: column);
  
  &__block {
    border-color: $btn-color;
    font-style: bold;
    font-size: large;
    
    &__title {
      text-align: center;
    }

    &__img {
      width: 350px;
      height: 390px;
    }
  }

  &__hobbies {
    @include flex;
    margin: 0 5%;
    border: 1px solid $deep-jungle-green;

    &__toggle {
      @include flex($d: column);
      margin: 0 5%;
      width: 90%;
      background-color: $charleston-green;
      font-size: 30px;
      font-weight: bold;
    }

    &__sidebar {
      width: 30%;
    }

    &__outlet {
      width: 70%;
      min-height: 800px;
      border: 1px solid $btn-color;
    }
  }
}