@import '/src/styles/mixins.scss';
@import '/src/styles/variables.scss';

.contact {
  height: 100vh;
  width: 94%;
  
  &__cards {
    @include flex($d: row, $c: center, $i: center);
    height: 50vh;
    
    
    &__card {
      height: 160px;
      width: 22vw;
      margin-right: 2%;
      &__body {
        a {
          @include flex($d: column, $c: center, $i: center);
        }
      }
    }
  }
}