.contact {
  margin-top: 50px;
  width: 94%;
  &__cards {
    padding-top: 10px;
    &__card {
      height: 160px;
      width: 160px;
      &__body {
        width: 100%;
        a {
          color: red;
        }
      }
    }
  }
}