@import '/src/styles/variables.scss';
@import './src/styles/mixins.scss';

.Hobbies {
  
  &__about {
    max-width: 600px;
  }
}

.home {
  margin: 0 5%;
  
  &__hobbies {
    @include flex; 
    margin: 0 5%;
    border: 1px solid $deep-jungle-green;

    &--sidebar {
      width: 30%;
      
    }
    
    &--outlet {
      width: 70%;
      border: 11px solid red;
    }
  }
}