@import '/src/styles/mixins.scss';
@import '/src/styles/variables.scss';

.skills {
  @include flex($d: column, $i: center);
  &__software {
    @include flex($c:center);
    margin-top: 26px;
    text-align: center;
    width: 91%;
    &__body {
      @include flex;
      flex-wrap: wrap;
      &__item {
        width: 127px;
        height: 115px;
        margin: 4px;
        font-size: medium;
        
        &--title {
          @include flex($d:column,$c: center);
          height: 100%;
          background-color: $midnight-blue;
          padding: 1px;
          border-radius: 50%;
          color: $bone;
        }
      }
    }
  
  }
}