@import '/src/styles/variables.scss';
@import './src/styles/mixins.scss';

.hobbies_side_bar {
  
  &__list {
    
    @include flex($d: column, $i: center);
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    &--item {
      width: 100%;
      background-color: $charleston-green;
      border-bottom: 1px solid $btn-color;
      color: $btn-color;
      text-decoration: none;
      text-align: center;
      font-size: 40px;
    }
  }
}